


/*画像下アキ*/

.photo{
	margin-bottom:10px;
}


/*画像角丸*/

.image {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 3SSS0px;
}


/*両サイドの色*/

body{
	background-color: #9cc;
}


.wrap {

  margin-left: auto;
  margin-right: auto;
  position: fixed;
  size:100%;
  

}






