

.head{
  position: fixed;
  width: 200px;
  height: 500px;
  left: 55%;
  padding: 0px;
  margin-left: -500px;
  margin-right: 0px
  background: #fff

}

.wrap {
  width: 960px;
  margin-left: auto;
  margin-right: 0px;
}

.main{
	margin-left: 250px;
	margin-right: 0px;
}

	

.photos {
  	position: relative;

 
}

.photo img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}


.photos .ov-left{
	position: absolute;
  	width: 60px;
  	height: 100%;
  	top: 0;
  	z-index: 10;
  	margin-left: -2px;
}

.photos .ov-left{
	left: 0;
  	background: transparent url(../img/p_01.png) repeat-y;
}


.foot{


}
